body {
  font-family: sans-serif;
}

ol,ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

div.nav {
  display: inline-block;
}

.nav li {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 4px;
}

.lilogo {
  padding-left: 18px;
}

li.nav {
  padding-left: 25px;
}

.bg-image {
  background-color: rgba(0,0,0,0);
  width: 100%;
  background-size: 100%;
  background: url(https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-04/Normal-Mode/assets/background.jpg) no-repeat;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

div.top {
  position: relative;
}

div.bg-image {
  display: inline-block;
}

div.toptext {
  height: 400px;
  line-height: 400px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

span.toptext {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-size: 48px;
  font-weight: 550;
}

div.mid {
  margin-top: 40px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  vertical-align: middle;
}

li.mid-container {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
}

ul.top1,.top2,.top3 {
  border: 1px solid rgb(225,225,225);
  text-align: center;
}

li.top1 {
  background-color: #569356;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

li.top2 {
  background-color: #2e4b85;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

li.top3 {
  background-color: #151515;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.rubles {
  font-size: 72px;
  font-weight: normal;
}
.permo {
  color: rgb(175,175,175);
}

.middles > li {
display: inline-block;
}

ul.middles {
  margin-left: 125px;
  margin-right: 125px;
}

ul.BodyParts {
  font-size: 14px;
  color: rgb(75,75,75);
  line-height: 2.25;
}

li.BodyParts {
  border-bottom: 1px solid rgb(235,235,235);
}

input[type=button] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #151515;
  font-size: 16px;
  background: #ffffff;
  padding: 8px 18px 8px 18px;
  border: solid #c0c0c0 1px;
  text-decoration: none;
}

.button {
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

div.bot3rd {
  display: inline-block;
}

.botcontent {
  display: inline-block;
  width: 350px;
}

div .bc1,.bc3 {
  margin-left: 140px;
  padding-right: 75px;
}

.footer a {
  color: white;
}

div.footer {
  text-align: center;
  color: rgb(150,150,150);
  background-color: black;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}